<%
const tabs = locals.context.doc.data.slices.find( ( slice ) => slice.slice_type === 'service_tabs' );
const banner = locals.context.doc.data.slices.find( ( slice ) => slice.slice_type === 'cta_banner' );
%>
<div class="service publishing">
    <div class="masthead js-masthead -wrap -exp-2 -bg--<%= locals.context.colorClass( locals.context.doc.data.color ) %>">
        <div class="masthead__oh js-masthead-oh">
            <div class="cms -wrapl-2 -lit">
                <%- locals.context.dom.RichText.asHtml( locals.context.doc.data.title ) %>
            </div>
        </div>
        <div class="masthead__ya js-masthead-ya"></div>
    </div>
    <img 
        class="graphic graphic--banner" 
        src="/img/ui/banner-2.jpg"
        alt="Graphical banner"
        width="1503"
        height="200"
    />
    <%- include( '../partials/tabs.html', { tabs } ) %>
    <div class="banner -exp-2 -wrap-2 -bg--teal -lit">
        <div class="cms h2">
            <%- locals.context.dom.RichText.asHtml( banner.primary.text, null, locals.context.hyperLink.bind( locals.context ) ) %>
        </div>
    </div>
</div>
