<form class="form form--coaching js-form" action="" data-action="Coaching" data-url="/api/recaptcha/coaching/">
    <div class="form__main">
        <div class="form__headline fh fh--lil">Set up your exploratory session today, <br />and let&rsquo;s get going!</div>
        <div class="form__block">
            <div class="form__field">
                <input class="form__input js-form-field" name="name" type="text" placeholder="Name" />
            </div>
            <div class="form__field">
                <input class="form__input js-form-field" name="email" type="email" placeholder="Email" />
            </div>
            <div class="form__field">
                <textarea class="form__input form__area js-form-field" name="message" placeholder="Tell me about your project"></textarea>
            </div>
        </div>
        <div class="form__block form__button">
            <div class="g-recaptcha" data-sitekey="6LfX5XsUAAAAAD6N5FpNr6sym6aSVoPQDSdzJcVE" data-size="compact"></div>
            <button class="form__sub" type="submit">Submit</button>
        </div>
    </div>
    <div class="form__message h5">
        <span>Sent! Thanks for writing. We&rsquo;ll get back to you soon.</span>
    </div>
</form>
