<form class="form form--special-offer js-form js-ohya" action="" data-action="Special-Offer" data-url="/api/recaptcha/special-offer/">
    <div class="form__main">
        <!-- <div class="form__headline fh fh--lil">From Page One to Done</div> -->
        <div class="form__block">
            <div class="form__field">
                <input class="form__input js-form-field" name="name" type="text" placeholder="Name" />
            </div>
            <div class="form__field">
                <input class="form__input js-form-field" name="email" type="email" placeholder="Email" />
            </div>
        </div>
        <div class="form__block form__button">
            <div class="m g-respect">We respect your privacy and won’t share this information.</div>
            <div class="g-recaptcha" data-sitekey="6LfX5XsUAAAAAD6N5FpNr6sym6aSVoPQDSdzJcVE" data-size="compact"></div>
            <button class="form__sub" type="submit">Download now</button>
        </div>
    </div>
    <div class="form__message h5">
        <span>Your download should be open in a new tab or browser window. If not, please check to see if your download was blocked by Pop Up Blocker.</span>
    </div>
</form>
