<div class="page">
    <div class="cms -wrap -exp">
        <%- locals.context.get( 'dom' ).RichText.asHtml( locals.context.get( 'item' ).data.title ) %>
    </div>
    <div class="cms -wrap -exp">
        <h2>I suppose I could part with 'one' and still be feared…</h2>
    </div>
    <div class="cms -wrap -exp">
        <h3>I guess because my parents keep telling me to be more ladylike. As though!</h3>
    </div>
    <div class="cms -wrap -exp">
        <h4>Well, then good news! It's a suppository.</h4>
    </div>
    <div class="cms -wrap -exp">
        <h5>Quite possible. We live long and are celebrated poopers.</h5>
    </div>
    <div class="cms -wrap -exp">
        <p>Tell her you just want to talk. It has nothing to do with mating. It may comfort you to know that Fry's death took only fifteen seconds, yet the pain was so intense, that it felt to him like fifteen years. And it goes without saying, it caused him to empty his bowels.</p>
    </div>
    <div class="cms -wrap -exp">
        <p class="m">My fellow Earthicans, as I have explained in my book 'Earth in the Balance'', and the much more popular ''Harry Potter and the Balance of Earth', we need to defend our planet against pollution. Also dark wizards.
</p>
    </div>
</div>
