<%
const text = locals.context.doc.data.slices.find( ( slice ) => slice.slice_type === 'basic_text' );
const praise = locals.context.doc.data.slices.find( ( slice ) => slice.slice_type === 'praise_touts' );
%>
<div class="praise">
    <div class="masthead js-masthead -wrap-2 -exp-2 -bg--cool">
        <div class="masthead__oh">
            <div class="cms">
                <%- locals.context.dom.RichText.asHtml( locals.context.doc.data.description ) %>
            </div>
        </div>
    </div>
    <img 
        class="graphic graphic--banner" 
        src="/img/ui/banner-2.jpg"
        alt="Graphical banner"
        width="1503"
        height="200"
    />
    <div class="text cms -wrap-2 -exp-2">
        <h2 class="h3">
            <%- locals.context.dom.RichText.asText( text.primary.text ) %>
        </h2>
    </div>
    <div class="praise__touts -wrap-2">
        <% praise.items.forEach(( item, i ) => { %>
            <div class="praise__tout -exp-2">
                <div class="praise__l">
                    <div class="praise__headline">
                        <div class="fh fh--alt"><%- locals.context.newLine( item.headline ) %></div>
                    </div>
                    <div class="praise__text cms">
                        <%- locals.context.dom.RichText.asHtml( item.text ) %>
                    </div>
                </div>
                <div class="praise__r">
                    <div class="praise__graphic">
                        <img 
                            class="image" 
                            src="<%= item.graphic.mobile.url %>"
                            src="<%= item.graphic.url %> 2x, <%= item.graphic.mobile.url %> 1.5x"
                            alt="Picture of book"
                            width="<%= item.graphic.mobile.dimensions.width %>"
                            height="<%= item.graphic.mobile.dimensions.height %>"
                            loading="<%= (i === 0) ? 'eager' : 'lazy' %>"
                        />
                    </div>
                    <div class="praise__caption cms -bg--cool">
                        <%- locals.context.dom.RichText.asHtml( item.caption_text ) %>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
