<%
const masthead = locals.context.doc.data.slices.find( ( slice ) => slice.slice_type === 'masthead_tout' );
const tabs = locals.context.doc.data.slices.find( ( slice ) => slice.slice_type === 'resource_tabs' );
%>
<div class="resources">
    <div class="masthead js-masthead -wrap -exp-2 -bg--cool">
        <div class="masthead__oh js-masthead-oh">
            <div class="cms -wrapl-2">
                <%- locals.context.dom.RichText.asHtml( locals.context.doc.data.title ) %>
            </div>
        </div>
        <div class="masthead__ya js-masthead-ya">
            <div class="cms -flit">
                <%- locals.context.dom.RichText.asHtml( locals.context.doc.data.description ) %>
            </div>
        </div>
    </div>
    <div class="graphic graphic--banner -cover js-lazy-image" data-img-src="/img/ui/banner-3.jpg"></div>
    <%- include( '../partials/tabs.html', { tabs } ) %>
</div>
