/******************************************************************************
 * Paragraphs
*******************************************************************************/
.p,
.cms p {
    @include p();

    em {
        font-style: italic;
    }

    strong {
        color: inherit;
        @include font-family-bold();
    }
}
.m {
    @include m();

    strong {
        color: inherit;
        @include font-family-bold();
    }
}
.a {
    border-bottom: 1px solid inherit;
}
.li,
.cms li {
    @include p();
    list-style: none;
}



/******************************************************************************
 * Headlines
*******************************************************************************/
.h1,
.cms h1 {
    @include h1();
}
.h2,
.h2 p,
.cms h2,
.cms .h2 p {
    @include h2();
}
.h3,
.cms h3 {
    @include h3();
}
.h4,
.cms h4 {
    @include h4();
}
.h5,
.cms h5 {
    @include h5();
}
.fh {
    @include fh();

    @include respond( $mobile-width ) {
        font-size: $fh-size-2;
    }
}
.fh--alt {
    font-size: $fh-size-2;
}
.fh--med {
    font-size: $fh-size-3;
}
.fh--lil {
    font-size: $fh-size-4;
}



/******************************************************************************
 * Forms
*******************************************************************************/
.form {
    position: relative;

    &.is-processing:after {
        content: "";
        cursor: wait;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
        background-color: rgba( 0, 0, 0, 0.15 );
    }

    &.is-success {
        .form__main {
            display: none;
        }
        .form__message {
            display: block;
        }
    }
}
.form--contact,
.form--special-offer {
    margin-top: $padding-2;
}
.form--coaching {
    margin-top: $expander-2;
}
.form--contact,
.form--coaching,
.form--special-offer {
    background-color: $grey-warm;
    padding: 50px;

    &.is-success {
        background-color: $teal;
        color: $white;
    }

    @include respond( $mobile-width ) {
        padding: 30px;
    }

    .fh br {
        @include respond( $tablet-width ) {
            display: none;
        }
    }
}
.form__message {
    display: none;
}
.form__input {
    @include m();
    line-height: 1;
    color: $grey-dark;
    -webkit-appearance: none;
    outline: 0;
    background-color: $white;
    border-radius: 0;
    height: 50px;
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: left;
    border: 1px solid $grey-light;

    .form--signup & {
        height: 35px;
        width: 190px;
        text-align: center;
        background-color: $grey-warm;
        border: 0;
    }

    &::-webkit-input-placeholder {
        color: $grey-dark;
    }
    &:-moz-placeholder {
        color: $grey-dark;
    }
    &::-moz-placeholder {
        color: $grey-dark;
    }
    &::placeholder {
        color: $grey-dark;
    }
}
.form__group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.form__field {
    & + .form__field {
        margin-top: 20px;
    }
}
.form__button {
    margin-top: 20px;
    text-align: left;
}
.form__area {
    min-height: 150px;
    padding-top: 15px;
    line-height: 1.5;
}
.form__headline {
    margin-bottom: 20px;
}
.form__sub {
    @include m();
    line-height: 1;
    -webkit-appearance: none;
    outline: 0;
    background-color: $teal;
    color: $white;
    border: 0;
    border-radius: 0;
    padding: 0 30px;
    cursor: pointer;
    height: 50px;

    .form--signup & {
        height: 35px;
        background-color: $orange;
        padding: 0 15px;
    }
}
.g-respect,
.g-recaptcha {
    display: block;
    margin-bottom: 20px;
}
