.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include respond( $premobile-width ) {
        display: block;
    }
}
.footer__col {
    @include respond( $premobile-width ) {
        display: inline-block;
        vertical-align: top;
        width: 33.333333%;
        margin-bottom: $expander-1 * 2;
    }

    @include respond( $mobile-bind ) {
        width: 50%;
    }
}
.footer__logo {
    opacity: 0.18;

    @include respond( $mobile-bind ) {
        display: block;
        width: 100%;
    }
}
.footer__navi {
    a {
        display: block;
        padding-bottom: 8px;
    }
}
.footer__services {
    a {
        display: block;
        padding-bottom: 8px;
    }

    .h4 {
        padding-bottom: 20px;
    }
}
.footer__contact {
    @include respond( $mobile-bind ) {
        display: block;
        width: 100%;
    }

    a {
        display: block;
        padding-bottom: 8px;
    }

    .h4 {
        padding-bottom: 20px;

        @include respond( $mobile-bind ) {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            padding-bottom: 0;
        }
    }

    .footer__social {
        @include respond( $mobile-bind ) {
            display: inline-block;
            vertical-align: top;
            width: 50%;
        }
    }
}
.footer__signup {
    max-width: calc( 190px + 75px );

    @include respond( $premobile-width ) {
        width: 66.666666%;
    }

    @include respond( $mobile-bind ) {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .h4 {
        @include respond( $mobile-bind ) {
            display: inline-block;
            vertical-align: top;
            width: 50%;
        }
    }

    .m {
        padding: 12px 0;

        @include respond( $mobile-bind ) {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            padding: 0;
        }
    }

    .form {
        @include respond( $mobile-bind ) {
            display: block;
            width: 100%;
            margin-top: $expander-1 * 2;
        }
    }

    .form__group {
        @include respond( $mobile-bind ) {
            display: block;
        }
    }

    .form__sub {
        @include respond( $mobile-bind ) {
            margin-top: 12px;
        }
    }

    .form__sub,
    .form__input {
        @include respond( $mobile-bind ) {
            width: 100%;
        }
    }
}
