.header {
    position: relative;
    width: 100%;
    z-index: $z_layer_header;

    @include respond( $mobile-width ) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .is-navi-mobile-open & {
    //     position: fixed;
    //     left: 0;
    //     top: 0;
    // }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: $z_layer_behind;
        background-color: $black;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity $fast-duration $ease,
                    z-index $fast-duration $ease,
                    visibility $fast-duration $ease;

        .is-navi-mobile-open & {
            opacity: 1;
            visibility: visible;
            z-index: 2;
        }
    }
}
