/******************************************************************************
 * Fonts: Util
*******************************************************************************/
@mixin font-normal() {
    font-stretch: normal;
    font-style: normal;
}


/******************************************************************************
 * Fonts: Styles
*******************************************************************************/
@mixin font-family-regular() {
    font-family: $font-family-regular;
    @include font-normal();
}
@mixin font-family-bold() {
    font-family: $font-family-bold;
    @include font-normal();
}
@mixin font-family-condensed() {
    font-family: $font-family-condensed;
    @include font-normal();
}
@mixin font-family-light() {
    font-family: $font-family-light;
    @include font-normal();
}
@mixin font-family-semibold() {
    font-family: $font-family-semibold;
    @include font-normal();
}


/******************************************************************************
 * Type
*******************************************************************************/
@mixin p() {
    font-size: $p-size;
    line-height: $p-line;
    color: $grey-blue;
    @include font-family-regular();

    @include respond-min( $tablet-width + 1px ) {
        font-size: $p-size-2;
    }

    .-lit & {
        color: $white;
    }
}
@mixin m() {
    font-size: $m-size;
    line-height: $m-line;
    @include font-family-regular();

    @include respond-min( $tablet-width + 1px ) {
        font-size: $m-size-2;
    }
}
@mixin h1() {
    font-size: $h1-size;
    line-height: $h1-line;
    @include font-family-regular();

    @include respond( $mobile-width ) {
        font-size: $h1-size-2;
    }
}
@mixin h2() {
    font-size: $h2-size;
    line-height: $h2-line;
    @include font-family-regular();

    @include respond( $mobile-width ) {
        font-size: $h2-size-2;
    }
}
@mixin h3() {
    font-size: $h3-size;
    line-height: $h3-line;
    @include font-family-regular();
}
@mixin h4() {
    font-size: $h4-size;
    line-height: $h4-line;
    letter-spacing: 1px;
    text-transform: uppercase;
    @include font-family-condensed();
}
@mixin h5() {
    font-size: $h5-size;
    line-height: $h5-line;
    @include font-family-regular();
}
@mixin fh() {
    font-size: $fh-size;
    line-height: $fh-line;
    letter-spacing: 1px;
    text-transform: uppercase;
    @include font-family-condensed();
}



/******************************************************************************
 * Document states
*******************************************************************************/
@mixin state( $module, $state ) {
    .is-#{$module}-#{$state} & {
        @content;
    }
}
@mixin hover() {
    .is-hoverable &:hover {
        @content;
    }
}



/******************************************************************************
 * Media queries
 *
 * @see ../config/_variables.scss for Breakpoints
*******************************************************************************/
@mixin respond( $width ) {
    @media only screen and ( max-width: $width ) {
        @content;
    }
}
@mixin respond-min( $width ) {
    @media only screen and ( min-width: $width ) {
        @content;
    }
}
@mixin respond-min-max( $min, $max ) {
    @media only screen and ( min-width: $min ) and ( max-width: $max ) {
        @content;
    }
}



@mixin exp() {
    padding-bottom: $expander-1;
    padding-top: $expander-1;

    @include respond( $tablet-width ) {
        padding-bottom: $expander-1 * 2;
        padding-top: $expander-1 * 2;
    }
}
@mixin exp2() {
    padding-bottom: $expander-2;
    padding-top: $expander-2;
}
@mixin wrap() {
    padding-left: $padding-1;
    padding-right: $padding-1;
}
@mixin wrap2() {
    padding-left: $padding-2;
    padding-right: $padding-2;
}
@mixin wrapl() {
    padding-left: $padding-1;
}
@mixin wrapl2() {
    padding-left: $padding-2;
}
@mixin wrapr() {
    padding-right: $padding-1;
}
@mixin wrapr2() {
    padding-right: $padding-2;
}
